@page
@model HW6MovieSharing.Pages.PublicCatalog.IndexModel
@{
    ViewData["Title"] = "Index";
}

<section style="margin-top: 30px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th scope="col">Title</th>
				<th scope="col">Category</th>
				<th scrop="col">Availability</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var movie in Model.Movies)
			{
			<tr>
				<td>
					<form method="post">
						<input asp-for="@movie.ID" id="id" type="hidden" name="id" />
						<button type="submit" class="btn btn-warning">Request to Barrow</button>
					</form>
				</td>
				<td>@Html.DisplayFor(modelItem => movie.Title)</td>
				<td>@Html.DisplayFor(modelItem => movie.Category)</td>
				<td>@Html.DisplayFor(modelItem => movie.Status)</td>
			</tr>
			}
		</tbody>
	</table>
</section>

