@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section>
	<header>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Netflix 1.0</h1>
				<p class="lead">Manage, share and rent movies</p>
			</div>
		</div>
	</header>
	<main class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Manage My Movies</h2>
				<p>Manage movies within you catalog. Create, update, delete movies and allow them to be shared with others.</p>
				<p><a asp-page="/UserCatalog/Index" class="btn btn-primary">Go &raquo;</a></p>
			</div>
			<div class="col-md-6">
				<h2>View Public Catalog</h2>
				<p>View a public catalog of shared movies. Movies can be barrowed from other users by submitting a barrow request. </p>
				<p><a asp-page="/PublicCatalog/Index" class="btn btn-primary">Go &raquo;</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>Manage Requests</h2>
				<p>Manage any submitted or pending requests. Take care of any return requests or barrow requests here.</p>
				<p><a asp-page="/UserCatalog/Requests" class="btn btn-primary">Go &raquo;</a></p>
			</div>
			<div class="col-md-6">
				<h2>Manage Barrowed Movies</h2>
				<p>Manage the movies you have barrowed from others. Return movies to the users here.</p>
				<p><a asp-page="/UserCatalog/BarrowedMovies" class="btn btn-primary">Go &raquo;</a></p>
			</div>
		</div>
	</main>
</section>
